.details
	span.score-badge(title='Peer Library Score') 43
	.title-wrap
		h4.title
			| Analytical aspects of Brownian motor effect in randomly flashing ratchets
		.clearfix
	.btn-wrap
		a(href='#').btn
			i.icon-plus-sign-alt
			|  Add to collection
		a(href='#').btn
			i.icon-download-alt
			|  Download PDF
	.publication-details
		p
			b Authors: 
			a(href='#') Dmitry Vorotnikov
			| , 
			a(href='#') Rodrigo Ochigame
			| , 
			a(href='#') Tony Chen
			| , 
			a(href='#') Connor Braa
		p
			b Journal: 
			a(href='#') Entropy
			b  ISSN/EISSN: 
			| 10994300
			b  Year: 
			| 2009
			b  Volume: 
			| 6
			b  Issue: 
			| 1
			b  Volume: 
			| 6
			b  Pages: 
			| 76 - 86
			b  DOI: 
			| 10.3390/e6010074
		p
			b Publisher: 
			| Scientific Research Publishing
		p
			b Keywords: 
			a(href='#') Second law of thermodynamics
			| , 
			a(href='#') Spontaneous momentum flow
			| , 
			a(href='#') Feynman ratchet
			| , 
			a(href='#') Velocity fluctuations
			| , 
			a(href='#') Doppler effect
			| , 
			a(href='#') Nonrandom walk
		.citations-list
			h2 Citations
			span.count-badge 22
			.clearfix
			ol.pub-list
				li
					span.score-badge 88
					a Simple word problems in universal algebras
					|  - Knuth, Bendix - 1970
				li
					span.score-badge 64
					a Associative-commutative rewriting
					|  - Dershowitz, Hsiang, et al. - 1983
				li
					span.score-badge 63
					a Confluent reductions: Abstract properties and applications to term rewriting systems
					|  - Huet - 1980
				li
					span.score-badge 61
					a Process algebra for synchronous communication
					|  - Bergstra, Klop - 1984
				li
					span.score-badge 60
					a The calculi of lambda-conversion
					|  - Church - 1941
				li
					span.score-badge 49
					a Combinatory Reduction Systems
					|  - Klop - 1980
				li
					span.score-badge 48
					a On proving term rewriting systems are Noetherian", Memo MTP-3
					|  - Lankford - 1979
				li
					span.score-badge 45
					a On the uniform halting problem for term rewriting systems", Rapport Laboria 283
					|  - Curien - 1993
		.bibliography
			h2 Bibliography
			span.count-badge 32
			.clearfix
			ol.pub-list
				li
					span.score-badge 88
					a Simple word problems in universal algebras
					|  - Knuth, Bendix - 1970
				li
					span.score-badge 64
					a Associative-commutative rewriting
					|  - Dershowitz, Hsiang, et al. - 1983
				li
					span.score-badge 63
					a Confluent reductions: Abstract properties and applications to term rewriting systems
					|  - Huet - 1980
				li
					span.score-badge 61
					a Process algebra for synchronous communication
					|  - Bergstra, Klop - 1984
				li
					span.score-badge 60
					a The calculi of lambda-conversion
					|  - Church - 1941
				li
					span.score-badge 49
					a Combinatory Reduction Systems
					|  - Klop - 1980
				li
					span.score-badge 48
					a On proving term rewriting systems are Noetherian", Memo MTP-3
					|  - Lankford - 1979
				li
					span.score-badge 45
					a On the uniform halting problem for term rewriting systems", Rapport Laboria 283
					|  - Curien - 1993
	
