.details
	.title-wrap
		h4.title
			| Trace-based Just-in-Time Type Specialization for Dynamic Languages
		span.authors
			a(href='#') Dmitry Vorotnikov
			| , 
			a(href='#') Rodrigo Ochigame
			| , 
			a(href='#') Tony Chen
			| , 
			a(href='#') Connor Braa
			| , 
			a(href='#') Graydon Hoare
			| , 
			a(href='#') Boris Zbarsky
		.clearfix
	.btn-wrap
		a(href='#').btn
			i.icon-plus-sign-alt
			|  Add to library
		a(href='#').btn
			i.icon-download-alt
			|  Download PDF
	.publication-details
		p
			b Keywords: 
			a(href='#') Second law of thermodynamics
			| , 
			a(href='#') Spontaneous momentum flow
			| , 
			a(href='#') Feynman ratchet
			| , 
			a(href='#') Velocity fluctuations
			| , 
			a(href='#') Doppler effect
			| , 
			a(href='#') Nonrandom walk
		p
			b Published in: 
			a.journal-link(href='#') Entropy Review
		p.pub-info
			b Publisher: 
			| Scientific Research Publishing
			b  ISSN/EISSN: 
			| 10994300
			b  Year: 
			| 2009
			b  Volume: 
			| 6
			b  Issue: 
			| 1
			b  Volume: 
			| 6
			b  Pages: 
			| 76 - 86
			b  DOI: 
			| 10.3390/e6010074
		.citations-list
			h2 Citations
			span.count-badge 22
			.clearfix
			ol.pub-list
				li
					a Simple word problems in universal algebras
					|  - Knuth, Bendix - 1970
				li
					a Associative-commutative rewriting
					|  - Dershowitz, Hsiang, et al. - 1983
				li
					a Confluent reductions: Abstract properties and applications to term rewriting systems
					|  - Huet - 1980
				li
					a Process algebra for synchronous communication
					|  - Bergstra, Klop - 1984
				li
					a The calculi of lambda-conversion
					|  - Church - 1941
				li
					a Combinatory Reduction Systems
					|  - Klop - 1980
				li
					a On proving term rewriting systems are Noetherian", Memo MTP-3
					|  - Lankford - 1979
				li
					a On the uniform halting problem for term rewriting systems", Rapport Laboria 283
					|  - Curien - 1993
		.bibliography
			h2 Bibliography
			span.count-badge 32
			.clearfix
			ol.pub-list
				li
					a Simple word problems in universal algebras
					|  - Knuth, Bendix - 1970
				li
					a Associative-commutative rewriting
					|  - Dershowitz, Hsiang, et al. - 1983
				li
					a Confluent reductions: Abstract properties and applications to term rewriting systems
					|  - Huet - 1980
				li
					a Process algebra for synchronous communication
					|  - Bergstra, Klop - 1984
				li
					a The calculi of lambda-conversion
					|  - Church - 1941
				li
					a Combinatory Reduction Systems
					|  - Klop - 1980
				li
					a On proving term rewriting systems are Noetherian", Memo MTP-3
					|  - Lankford - 1979
				li
					a On the uniform halting problem for term rewriting systems", Rapport Laboria 283
					|  - Curien - 1993
	
