.discussion
	h4 Filter discussions by thread [50]
	ol.thread-list
		li.thread-item
			p.thread-preview
				span.paragraph-ref %3
				b Compilers for typed languages can rely on information to generate sufficient machine code
			p.last-activity
				| 3:45 pm by 
				a Rodrigo Ochigame
			i.icon-chevron-right
			div.clearfix
		li.thread-item
			p.thread-preview
				span.paragraph-ref %5
				b Method-based dynamic compilers, our dynamic compiler operates at the granularity of individual loops.
			p.last-activity
				| 4:45 pm by 
				a Tony Chen
			i.icon-chevron-right
			div.clearfix
		li.thread-item
			p.thread-preview
				span.paragraph-ref %6
				b Every compiled trace contains all theguards(checks) requiredto validate the speculation
			p.last-activity
				| 1:45 pm by 
				a Mi Tar
			i.icon-chevron-right
			div.clearfix
		li.thread-item
			p.thread-preview
				span.paragraph-ref %11
				b State machine describing the major activities of Trace-Monkey and the conditions that cause transitions to a new
			p.last-activity
				| 2:45 pm by 
				a Rodrigo Ochigame
			i.icon-chevron-right
			div.clearfix
		li.thread-item
			p.thread-preview
				span.paragraph-ref %13
				b The loop onlines 4-5 becomes hot on its second iteration, so TraceMonkey enters recording mode
			p.last-activity
				| 3:55 pm by 
				a Tony Chen
			i.icon-chevron-right
			div.clearfix
		li.thread-item
			p.thread-preview
				span.paragraph-ref %23
				b Recording continues until execution reaches line1, and at which point TraceMonkey finishes and compiles a trace
			p.last-activity
				| 6:42 pm by 
				a Nihil Shah
			i.icon-chevron-right
			div.clearfix