.single-thread
	a(href="#").all-discussions 
		i.icon-circle-arrow-left
		|  All Discussions
	.thread-content
		.summary-wrap
			h4 Summary of Paragraph 3
				span.edit-actions
					a(href="#").edit-link
						i.icon-edit
						|  edit
			p(contenteditable=true).paragraph-summary#summary Compilers for statically typed languages rely on type information to generate efficient machine code. In a dynamically typed pro-gramming language such as JavaScript, the types of expressionsmay vary at runtime. This means that the compiler can no longereasily transform operations into machine instructions that operateon one specific type.