doctype 5
html
	head
		title= title
		include includes/styles
		include includes/scripts
		link(rel='stylesheet', href='/css/viewer.css')
	body
		#viewer
			.sidebar
				.header
					a(href='/')
						img(src='img/logo.png').logo
				.menubar
					ul.nav
						li
							a(href='#').details-link.active Details
						li
							a(href='#').discussion-link Discussion [50]
						li
							a(href='#').reviews-link Reviews [33]
				.clearfix
				.wrap
					include details
					include reviews
					include discussion
			.window
				iframe(src='http://mozilla.github.com/pdf.js/web/viewer.html')

	block misc
		script(type='text/javascript')
			$(document).ready(function(){
				var docked = false;
				$('.sidebar').scroll(function(){
					if ($(this).scrollTop() > 55) {
						$('.menubar').addClass('menubar-fixed');
					} else {
						$('.menubar').removeClass('menubar-fixed');
					}
				});
			});